header{
  display:flex;
}
body{
    background-color: #D8e4f3;
    max-width: 80%;
    margin: auto;
}

#bigButton{
  font-size: 4vh;
  padding-top: 0%;
  padding-bottom: 0%;
  color: #f2f2f2;
  text-decoration: none;
}

h2{
  color: #0c6aed;
  padding-left: 20%;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

#large{
  color: #0c6aed;
  padding-left: 5%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  text-decoration: underline;
}

#medium{
  color: black;
  padding-left: 20%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
}

#description{
  color: black;
  padding-left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
}

#medium1{
  color: #0c6aed;
  padding-left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  text-decoration: underline;
}

#description1{
  color: black;
  padding-left: 10%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
}

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #0c6aed;
    display: flex;
    justify-content:space-between;
  }
  
  .topnav #topnav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2vh;
    
  }
  
  .topnav h1 {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #cover {
    max-width: 80%;
    width: auto;
    height: auto;
    margin: 0 ;
    margin-left: 20%;
    display: inline-block;
  }
  
  #cover > img {
    border: 2px solid black;
    width: 80%;
    margin: 1.66%;
  }
  
  #border{
    border: 2px solid black;
    
  }

.container {
    position: relative;
    width: 20%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 80%;
    margin:auto;
  }
  .column {
    flex: 20%;
    padding: 0 4px;
  }
  
  .column img {
    max-width: 100%;
    margin-top: 8px;
    vertical-align: middle;
  }
  .container img {
    max-width: 100%;
    height: auto;
    display: flex;
		flex-flow: row wrap;
		overflow: hidden;
  }
  
  

  .container2 {
    position: relative;
    max-width: 80%;
    margin: auto;
  }

  .container2 img {
    max-width: 100%;
    height: auto;
  }
    #aside{
        display: inline-block;
        max-width: 100%;
        
        padding-left: 15%;

    }   

    #asideHalf{
        display: inline-block;
        max-width: 50%;
        float: left;
        
    }   

    #separazione{
        background-color: #0c6aed;
        width: 100%;

    }   

    .undernav {
      overflow: hidden;
      background-color: #0c6aed;
      padding-left: 0px;
      display: flex;
      justify-content: space-between;
    }
    
    .undernav #Privacy {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 2vh;
    }

    .undernav #chiSiamo {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 2vh;
    }

    .undernav #ParchiItalia {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 2vh;
    }
    
    
    
    .undernav a:hover {
      background-color: #ddd;
      color: black;
    }